@import url("https://fonts.cdnfonts.com/css/lausanne");
@font-face {
  font-family: "Lausanne";
  src: url("./Resources/Lausanne-Regular.otf");
}
html, body {
  scrollbar-width: none;
  margin: 0;
  font-family: "Lausanne";
}
html ::-webkit-scrollbar, body ::-webkit-scrollbar {
  width: 0;
}
html h1, body h1 {
  font-size: 48px;
}
html p, body p {
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 24px;
}

.nav-overlay {
  position: fixed;
  display: none;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  transition: all 0.5s ease;
  opacity: 0;
}

.overlay-show {
  opacity: 1;
}

.navbar {
  font-size: 15px;
  color: #234A7D;
}
.navbar .container .logo {
  position: fixed;
  top: -100%;
  z-index: 10;
  margin-left: -30px;
  height: 15vh;
  transition: all 0.3s ease-out;
  overflow: hidden;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.navbar .container .logo img {
  height: 100%;
}
.navbar .container .logo:hover {
  background-color: rgba(134, 176, 255, 0.3647058824);
}
.navbar .container .bg {
  position: absolute;
  filter: blur(50px);
  opacity: 0.5;
  transition: all 2s linear;
  z-index: -1;
}
.navbar .container .logo-aurora-one {
  border-radius: 100%;
  width: 500px;
  height: 500px;
  background-color: #AFCBFF;
  animation: fly 12s linear infinite alternate;
  transform: rotate(0) translate(80px) rotate(0);
}
.navbar .container .logo-aurora-two {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  background-color: rgba(34, 100, 185, 0.7960784314);
  animation: flyPlus 12s linear infinite alternate;
  transform: rotate(0) translate(80px) rotate(0);
}
.navbar .container .nav {
  position: fixed;
  z-index: 10;
  top: -100%;
  right: 5vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: all 1s cubic-bezier(0.4, 0, 0.1, 1);
  transition-delay: 0.3s;
}
.navbar .container .nav .nav-btns {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  width: 80%;
}
.navbar .container .nav .nav-btns .resume-btn {
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  padding: 0px 20px;
  background-color: rgba(255, 255, 255, 0.192);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-radius: 40px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.0392156863), 0 2px 4px rgba(0, 0, 0, 0.0392156863);
  transition: all 1s cubic-bezier(0.4, 0, 0.1, 1);
  text-decoration: none;
}
.navbar .container .nav .nav-btns .resume-btn p {
  font-weight: 400;
  text-decoration: none;
  margin: 0;
  color: #234A7D;
}
.navbar .container .nav .nav-btns .resume-btn img {
  transform: scale(0.8);
}
.navbar .container .nav .nav-btns .resume-btn-show {
  opacity: 1;
  display: flex;
}
.navbar .container .nav .nav-btns .resume-btn:hover, .navbar .container .nav .nav-btns .resume-btn:focus {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.0392156863), 0 2px 4px rgba(0, 0, 0, 0.0392156863);
  background-color: rgba(175, 203, 255, 0.2509803922);
}
.navbar .container .nav .nav-btns .resume-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.2), white, rgba(255, 255, 255, 0.2), transparent);
  transition: all 0.5s cubic-bezier(0.21, 0.96, 0.85, 1.01);
}
.navbar .container .nav .nav-btns .resume-btn:hover:before {
  left: 100%;
}
.navbar .container .nav .nav-btns .nav-btn {
  padding: 5px 10px;
  position: relative;
  background-color: white;
  color: #234A7D;
  font-size: 1.2em;
  width: 30%;
  border: none;
  border-radius: 40px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.0392156863), 0 2px 4px rgba(0, 0, 0, 0.0392156863);
  transition: all 0.3s cubic-bezier(0.4, 0, 0.1, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .container .nav .nav-btns .nav-btn .nav-text {
  margin: 0;
  padding: 0;
}
.navbar .container .nav .nav-btns .nav-btn .nav-text .nav-switch-texts {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.1, 1);
  height: 5vh;
  line-height: 5vh;
  width: 100%;
}
.navbar .container .nav .nav-btns .nav-btn .nav-text .nav-switch-texts .text1 {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.1, 1);
}
.navbar .container .nav .nav-btns .nav-btn .nav-text .nav-switch-texts .text2 {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.1, 1);
  transform: translateY(100%);
}
.navbar .container .nav .nav-btns .nav-btn .nav-text .nav-menu-text-toggle {
  transform: translateY(-100%) !important;
}
.navbar .container .nav .nav-btns .nav-btn .dots-div {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
  justify-content: center;
  align-items: center;
}
.navbar .container .nav .nav-btns .nav-btn .dots-div .dots {
  width: 75%;
  margin-bottom: 1%;
  transition: all ease 0.3s;
}
.navbar .container .nav .nav-btns .nav-btn .dots-div .dot-img {
  width: 50%;
  height: 50%;
}
.navbar .container .nav .dot-rotate {
  rotate: 90deg;
}
.navbar .container .nav .nav-btn-hover {
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.0823529412), 0 2px 4px rgba(0, 0, 0, 0.1176470588);
}
.navbar .container .nav .nav-menu {
  width: 70%;
  z-index: 100;
  display: none;
  margin-top: 50px;
  padding: 0.5rem 0.75rem;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  transform: rotate(5deg);
  opacity: 0;
}
.navbar .container .nav .nav-menu .menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  list-style: none;
  padding: 0.5rem 1.5rem;
  font-size: 1.5em;
  border-radius: 20px;
  transition: all 0.3s ease;
}
.navbar .container .nav .nav-menu .menu-item:nth-child(1) {
  margin-top: 0;
}
.navbar .container .nav .nav-menu .menu-item:hover {
  background-color: rgba(175, 203, 255, 0.2509803922);
  color: white;
}
.navbar .container .nav .nav-menu-img {
  width: 1.2em;
  transform: scale(0);
  margin-left: 10px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.navbar .container .nav .switch-text-img-toggle {
  transform: scale(1);
}
.navbar .container .nav .contact {
  width: 70%;
  align-items: center;
  justify-content: space-between;
  display: none;
  padding: 1rem 2rem;
  font-size: 1.5em;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  transform: rotate(-5deg);
  opacity: 0;
  transition: all 0.3s ease;
}
.navbar .container .nav .contact:hover {
  background-color: rgb(99, 255, 154);
}
.navbar .container .nav .switch-texts {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 2em;
  line-height: 2em;
  width: 100%;
}
.navbar .container .nav .switch-texts a {
  color: #234A7D;
  text-decoration: none;
  width: 100%;
}
.navbar .container .nav .switch-texts .text1 {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.1, 1);
}
.navbar .container .nav .switch-texts .text2 {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.1, 1);
  transform: translateY(100%);
}
.navbar .container .nav .switch-text-toggle {
  transform: translateY(-100%) !important;
}

.smooth-scroll-wrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  transition-timing-function: linear;
}
.smooth-scroll-wrapper .content {
  display: flex;
}
.smooth-scroll-wrapper .content .project-title {
  width: 40vw;
  margin: 5vw 9vw;
  padding: 0%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.smooth-scroll-wrapper .content .project-title .project-title-text-div {
  overflow: hidden;
}
.smooth-scroll-wrapper .content .project-title .project-title-text-div .project-title-text {
  font-size: 48px;
  font-weight: 100;
  margin: 0;
  transform: translateY(100%) rotateZ(5deg);
  opacity: 0;
  transition: all 1s cubic-bezier(0.33, 0.17, 0, 1);
}
.smooth-scroll-wrapper .content .project-title .project-description-div {
  overflow: hidden;
}
.smooth-scroll-wrapper .content .project-title .project-description-div .project-description {
  font-size: 24px;
  transform: translateY(100%);
  opacity: 0;
  transition: all 1s cubic-bezier(0.33, 0.17, 0, 1);
  transition-delay: 0.2s;
}
.smooth-scroll-wrapper .content .project-title .project-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.smooth-scroll-wrapper .content .project-title .project-details div {
  width: 50%;
}
.smooth-scroll-wrapper .content .project-title .project-details h6 {
  font-weight: 100;
  margin: 0;
  font-size: 26px;
}
.smooth-scroll-wrapper .content .project-title .project-details p {
  font-size: 16px;
}
.smooth-scroll-wrapper .content .project-title .project-details p.element-show {
  margin: 10px 0px;
}
.smooth-scroll-wrapper .content .project-title .project-details .tech h6, .smooth-scroll-wrapper .content .project-title .project-details p {
  transform: translateY(100%) rotateZ(5deg);
  opacity: 0;
  transition: all 1.5s cubic-bezier(0.33, 0.17, 0, 1);
}
.smooth-scroll-wrapper .content .project-title .project-details .recognitions h6, .smooth-scroll-wrapper .content .project-title .project-details p {
  transform: translateY(100%) rotateZ(5deg);
  opacity: 0;
  transition: all 1.5s cubic-bezier(0.33, 0.17, 0, 1);
}
.smooth-scroll-wrapper .content .project-title .btn {
  background-color: rgb(255, 255, 255);
  padding: 20px 20px;
  padding-left: 40px;
  border-radius: 30px;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.0392156863), 0 2px 4px rgba(0, 0, 0, 0.0392156863);
  font-weight: 600;
  color: #234A7D;
  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: all 1.5s ease;
  /* .dot:hover{ */
}
.smooth-scroll-wrapper .content .project-title .btn .text-div {
  position: relative;
}
.smooth-scroll-wrapper .content .project-title .btn .text-div .btn-text-ghost {
  opacity: 0;
  z-index: -1;
}
.smooth-scroll-wrapper .content .project-title .btn .text-div .btn-text {
  position: absolute;
  left: 0;
  top: 0;
  transition: 0.2s all ease;
  z-index: 2;
}
.smooth-scroll-wrapper .content .project-title .btn .text-div .arrow {
  position: absolute;
  z-index: 1;
  right: 0;
  top: 0;
  transition: 0.4s all ease;
  transform: translateX(20px);
  width: 20%;
}
.smooth-scroll-wrapper .content .project-title .btn .text-div .arrow-on-hover {
  transform: translateX(-10px);
}
.smooth-scroll-wrapper .content .project-title .btn .dot {
  position: absolute;
  z-index: 1;
  left: 10%;
  top: 42%;
  height: 10px;
  width: 10px;
  background-color: black;
  display: inline-block;
  border-radius: 100px;
  margin: 0;
  margin-right: 10px;
  padding: 0;
  transition: 0.2s all ease;
}
.smooth-scroll-wrapper .content .project-title .btn .expand {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: #AFCBFF;
}
.smooth-scroll-wrapper .content .project-title .btn .text-on-hover {
  transform: translateX(-12px);
  color: white;
}
.smooth-scroll-wrapper .content .element-show {
  opacity: 1 !important;
  transform: translateY(0%) rotateZ(0deg) !important;
}
.smooth-scroll-wrapper .content .image-content {
  width: 80vw;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  margin-left: 10vw;
}
.smooth-scroll-wrapper .content .image-content .image {
  width: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  transition: all 0.5s cubic-bezier(0.47, 0.81, 0.36, 0.95);
}
.smooth-scroll-wrapper .content .image-content .image-windowed {
  border-radius: 20px;
  height: 79vh;
}

.project_video {
  width: 80% !important;
}

.show {
  width: 100% !important;
}

.image-windowed-show {
  height: 100% !important;
  width: 100% !important;
}

.text-reveal {
  transform: translateY(-1%) !important;
}

@keyframes fly {
  100% {
    transform: rotate(2turn) translate(200px) rotate(-2turn);
  }
}
@keyframes flyPlus {
  100% {
    transform: rotate(-2turn) translate(200px) rotate(2turn);
  }
}
@media screen and (max-width: 480px) {
  .logo {
    margin: 0 !important;
    height: 12vh !important;
  }
  .resume-btn {
    display: none !important;
  }
  .resume-menu-item {
    display: flex !important;
  }
  .nav-btn {
    width: 40% !important;
  }
  .dots {
    width: 100% !important;
  }
  .project-title {
    margin-top: 12vh !important;
    width: 80vw !important;
  }
  .project-title-text {
    font-size: 2.5rem !important;
  }
  .project-description {
    font-size: 1rem !important;
  }
  .project-details h6 {
    font-size: 1.2rem !important;
  }
  .project-details p {
    font-size: 0.8rem !important;
    margin: 0;
    margin-top: 10px;
  }
}/*# sourceMappingURL=style.css.map */