 //delete bootstrap node module
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
// text-blue - #234A7D
$text-darkblue :#234A7D;
$lightblue :#AFCBFF;
$lightblue-faded :#afcbff40;

.project-content{
    height: 100vh;
    img{
        height: 100%;
        width: 100%;
    }
}

 
//////////////

body,html{
    width: 100vw; 
    background-color: rgb(255, 255, 255);
    color: $text-darkblue; 
    margin: 0;
    padding: 0%;
    position: relative;
    scroll-behavior: smooth;

    font-family: "Lausanne";
    user-select: none;
}
::-webkit-scrollbar {
    width: 0; 
} 
a{
    text-decoration: none;
    color: $text-darkblue;
}

// Curor Info Div
.cursor-info-div{
    background-color: rgba(255, 255, 255, 0.139); 
    backdrop-filter: blur(2px);
    height:  0;
    width: 0; 
    opacity: 0;
    padding: 5px;

    border: 0.5px rgba(255, 255, 255, 0.651) solid;
    border-radius: 100px;
    
    position: fixed;
    z-index: 50;

    display: flex;
    justify-content: center;
    align-items: center;
 
    transition: all 0.5s ease;
}
.cursor_start{
    height:  50px;
    width: 50px; 
    opacity: 1;
}

//Scroll Bar 
.scroller-parent{
    position: fixed;
    z-index: 10;
    top: 25vh;
    right: 2vw;
     
    width: 25px;
    height: 35vh;
    border-radius: 20px;
    opacity: 0;
    background-color: $lightblue-faded;

    .scroller-thumb{
        position: relative;
        top: 0%;
        // left: 50%;
        margin: 8px auto ;
        margin-top: 8px;
        width: 10px;
        height: 5vh;
        border-radius: 20px;
        background-color: $lightblue;

    }
}

// NavBar
.nav-overlay{
    position: fixed;        
    display: none;
    z-index: 9; 
    width: 100vw;
    height: 100vh;
    transition: all 0.5s ease;
    opacity: 0;
    }
.overlay-show{
    opacity: 1;
}

.navbar{
    .container{

        .logo{
            position: fixed;        
            top: -100%;
            z-index: 10;  
            height: 15vh;
            transition: all 0.3s ease-out;
            transition: top 1s ease;
            img{
                height: 100%;
            }
        }
        .logo:hover{
            background-color: #86b0ff5d
        }
        
        
        .nav{
            position: fixed;        
            
            z-index: 10; 
            top: -100%;
            right: 8vw; 
            
            display: flex;
            flex-direction: column; 
            align-items: flex-end;
            transition: all 1s cubic-bezier(.4,0,.1,1);
            transition-delay: 0.3s;
            
            .nav-btn{  
                width: 80%;
                padding: 15px 5px; 
                background-color: white; 
                position: relative;
                    
                border: none;
                border-radius: 40px;
                box-shadow:0 6px 10px #0000000a, 0 2px 4px #0000000a;
                
                transition: all 0.3s cubic-bezier(.4,0,.1,1);
                
                display: flex;
                justify-content: center;
                align-items: center;       
                 
                .nav-text{
                    font-size: 20px; 
                    margin: 0;
                    padding: 0;
                    
                    .nav-switch-texts{  
                        overflow: hidden;  
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        transition: all 0.3s cubic-bezier(.4,0,.1,1);;
                        height: 5vh;
                        line-height: 5vh;
                        width: 100%;
                        .text{ 
                            transition: all 0.3s cubic-bezier(.4,0,.1,1);;
                        }
                        .text2{ 
                            transition: all 0.8s cubic-bezier(.4,0,.1,1);;
                            transform: translateY(100%); 
                        }
                    }
                    .nav-menu-text-toggle{
                        transform: translateY(-100%) !important; 
                    }

                }
        
            .dots-div{ 
                display: flex;
                flex-direction: column;
                height: 100%;
                width: 40%;
                justify-content: center;
                align-items: center;
                img{ 
                    width: 50%;
                    margin-bottom: 1%;
                    transition: all ease 0.3s;
                }
            }
            
        }
        .dot-rotate{
            rotate: 90deg;
        }
        .nav-btn-hover{
            box-shadow:0 6px 6px #00000015, 0 2px 4px #0000001e;
        }

        .nav-menu{
            margin-top: 50px;
            padding: 10px 15px;
            display: none;
            
            background-color: rgb(255, 255, 255);
            border-radius: 20px;        
            
            transform: rotate(5deg);
            opacity: 0;

            transition: all 0.6s cubic-bezier(.4,0,.1,1);
            
            .menu-item{
                
                list-style: none;
                font-size: 2em;
                margin-top: 10px;
                padding: 10px 15px;
                border-radius: 20px;
                transition: all 0.3s ease;
                
            }
            .menu-item:nth-child(1){
            margin-top: 0;
        }
        .menu-item:hover{
            padding: 15px 20px;
            background-color: rgb(62, 165, 255);
            color: white;
        }
    }   
        .contact{
            display: none;
            margin-top: 50px;
            padding: 20px 30px;
            font-size: 2em; 
            background-color: rgb(255, 255, 255);
            border-radius: 20px; 
            
            transform: rotate(-5deg);
            opacity: 0;
            
            transition: all 0.3s ease;
        }
        .contact:hover{ 
            background-color: rgb(62, 255, 130);
            color: white;
        }
        //Navbar Transistions
        .menu-show{
            margin-top: 20px;
            transform: rotate(0deg);
            opacity: 1;
            display: block;
            
        }
        .contact-show{
            display: block;
            margin-top: 5px;
            transform: rotate(0deg);
            opacity: 1;
        }
        }
    }
}

// Main Content
.smooth-scroll-wrapper {
    position: fixed;
    transition-timing-function: linear;
    z-index: 5;
    .content{ 
        background-color: white;
        .home-intro-section{
        z-index: 10;
            height: 100vh;
            width: 100vw;
            z-index: 1;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .left{
                .intro-name{
                    width: 50vw;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    overflow: hidden;
                    .text{
                        display: inline-block;
                        opacity: 1;
                        
                        transition: all  ease-out;
                        transform: translate3d(0, 30px, -30px) 
                                    rotate3d(1, 0, 0, 90deg)
                                    rotateZ(-10deg); 
                        translate: 0px 100px;
        
                        img{
                            width: 80%; 
                            height: 50%;
                        }
                    
                    }
                    .text:nth-last-child(1){
                        transition: all 1.5s ease;
                        
                    }
                    .text-appear{
                        transform: translate3d(0, 0, 0) rotate3d(1, 0, 0, 0) rotateZ(0); ;
                        translate: 0px 0px;
                        opacity: 1;
                    }
                }  
                .designation{
                    .randomCharText {
                        font-size: 2em; 
                      }
                }
            }
            .right{
                display: flex;
                justify-content: center;
                .home-img-bg{ 
                    position: relative;
                    height: 80vh;
                    width: 85%; 
                    overflow: hidden;

                    .backdrop{
                        position: absolute;
                        bottom: 0vh;
                        left: 0;
                        background-color:  rgba(60, 128, 255, 0.56);
                        border-radius: 8px;
                        height: 0%;
                        width: 100%;
                        transition: all cubic-bezier( 0.93, 0.12, 0.21, 0.81 )  1.5s;
                    }
                    .home-image{
                        height: 100%;
                        width: 100%;
                        object-fit: cover; 
                        transition: transform cubic-bezier( 0.93, 0.12, 0.21, 0.81 )  1.2s 1.2s;
                        transform: translateY(100%);
                    }

                }
            }
    
        }

        .main-section{ 
            margin:10vw 0;
            position: relative;
            height: 105vh;
            width: 100vw; 
            transition: all 0.3s ease-out;
            
            .drag-icon{
                position: absolute;
                left: 25%;
                top: 45%;
                width: 100px;
                animation: drag_animation 2s ease  infinite  ; 
                display: flex;
                justify-content: space-around;
                align-items: center;
                font-size: 3em;
                img{
                    width: 50px;

                }
            }

            .overlay{
                position: absolute;
                z-index: 2;
                height: 105vh; 
                width: 100vw;
                display: none;
                transition: all 0.3s ease-out;
                // opacity: 0.3;
                
                button{
                    transition: all 0.3s ease-out;
                    position: absolute;
                    top: 5%;
                    right: 5%; 
                    border: 1px solid white;
                    border: 10px;
                    padding: 5px; 
                }
        
            }

            .t-overlay{
                position: absolute;
                z-index: 5;
                height: 105vh; 
                width: 100vw;
                display: none; 
        
            }
            
            .overlay_text{ 
                padding: 10px; 
                border-radius: 5px;
                transition: all 0.3s ease;
                transition-delay:0.5s ;
                backdrop-filter: blur(5px);

                font-family: 'Montserrat';
                font-weight: 300;
                
                position: absolute;
                z-index: 5;
                
                font-size: 5em;
                overflow: hidden;

                .ghost_text{
                    display: none;
                    opacity: 0;
                }
                .overlay-text-content{
                    position: absolute;
                    z-index: 5;
                    top: 0;
                    left: 0%;
                    padding: 10px;

                    transition: all 0.5s cubic-bezier(.4,0,.1,1);
                    transform: translateX(-100%) !important; 
                    transition-delay:0.4s ;
                }
                
                .text-reveal{ 
                    transform: translateX(0) !important; 
                }
                
            }
            .project-heading{  
                width: 70%; 
                h1{ 
                    margin-top: 5vh;
                    padding: 10px;
                    border: 1px solid $lightblue;
                    border-radius: 8px;
                    font-size: 5rem  ;
                    text-align: center; 
                }
            }

            .img-track{
                display: flex;
                gap: 4vmin;
                
                position: absolute;
                z-index: 3;
                left: 50%;
                top: 55%;
                
                background-color: white;
                border-radius: 8px;
                transform: translate(0%, -50%); 
                user-select: none; 
                transition: all 0.5s ease-out;
                transition-delay: 0.2s;
                


                .image{
                    border-radius: 10px;
                    width: 20vmin;
                    object-fit: cover;
                    object-position: 100% center;
                    transition: all 0.5s ease-out; 
                    transition-delay: 0.3s;
                }
                .image:hover{
                    animation: cameraFocus 0.5s ease; 
                }

                .image-expand{
                    position: absolute; 
                    height: 100%;
                    width: 94vw;
                    object-fit: cover;
                    object-position: contain;
                    // box-shadow: 0 6px 10px #0000000a, 0 2px 4px #0000000a
                    // box-shadow: 0 6px 10px #00000029, 0 2px 4px #0000002a;
                }

            }

        }

    }
} 


.footer{  
    position: fixed;
    z-index: 1; 

    // opacity: 0;
    
    height: 100vh ;
    width: 100%;
    background-color: #afcbff2d;

    transition: all 1s ease;

    h6{
        font-size: 36px;
    }
    p{
        font-size: 20px;
    }
    .footer-main{
        height: 100%;
        
        .row{
            height: 100%;
            padding-top: 20vh;
            p,a , .form-control::placeholder , .form-btn{
                font-family: "montserrat";
                font-weight: 500;
            }
            .left{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                .social{
                    .social-heading, .social-parent{
                        overflow: hidden;
                        h6, .social-link{
                            text-decoration: none;
                            display: inline-block;
                            transform: translateY(100%);
                            transition: all 3s cubic-bezier(0.26, 0.6, 0, 1);
                        }
                        
                    }
                }
                .contact-mail{
                    // margin-top: 100px;
                    .contact-heading{
                        overflow: hidden;
                        h6{
                            transform: translateY(100%);
                            transition: all 2s cubic-bezier(0.26, 0.6, 0, 1);
                            transition-delay: 0.3ss;
                        }
                    }
                    .contact-email{
                        transition: all 0.3s ease;
                        display: inline-block;
                        border-radius: 8px;
                        width: auto;
                        padding: 20px;
                        background-color: $lightblue-faded;
                        opacity: 0;
                        transform: scaleX(0) translateX(-100%);
                        transform-origin: 0%;
                        transition: all 1s cubic-bezier(0.26, 0.6, 0, 1);

                    }
                    .contact-email:hover{
                        background-color: $lightblue;
                    }
                }

                .sign-logo{
                    height: 25%;
                    width: 25%;
                }
            }
            .right{ 
                .form-heading{
                    overflow: hidden;
                    h1{
                        transform: translateY(100%);
                        transition: all 3s cubic-bezier(0.26, 0.6, 0, 1);
                    }
                }
                .mssg-form{
                    opacity: 0;
                    transition: 0.5s all ease-out;
                    .form-control, .form-btn{
                        border-radius: 8px;
                        transform: scaleX(0);
                        transform-origin: 0;
                        margin-top: 10px;
                        background-color: $lightblue-faded; 
                        transition: all 2s cubic-bezier(0.26, 0.6, 0, 1);
                    } 
                    .form-control::placeholder , .form-control{
                        font-size: 20px;
                        color: $text-darkblue;
                        transition: all 1.5s cubic-bezier(0.26, 0.6, 0, 1);
                    }
                    .form-control::placeholder {
                        opacity: 0; 
                    }
                    .placeholder-visible::placeholder {
                        opacity: 1;
                    }

                    .form-btn{
                        opacity: 0;
                        transform: scaleX(1);
                        border: none;           
                        padding: 10px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        font-size: 24px;
                        color: $text-darkblue;
                        
                        transition: 0.3s all ease-out !important ;
                        transition-delay: 1200ms !important;
                        img{
                            height: 25%;
                            width: 25%;
                        }
                    }
                    .form-btn:hover{
                        background-color: $lightblue;
                    }

                }
            }
        }
    }

}

.text-reveal{
    transform: translateY(-1%) !important;
}
.footer-visible{
    opacity: 1;
} 

//Animations

@keyframes drag_animation {
    0%{transform: translateX(0px);} 
    50%{transform: translateX(20px);} 
    100%{transform: translateX(0px);}
}

@keyframes cameraFocus {
    0%{ 

    }

    25%{ 
        filter: blur(2px);
    }

    50%{ 
        filter: blur(0px);
    }

    75%{ 
        filter: blur(1px);
    }
    90%{ 
        filter: blur(2px);
    }
  
    100%{
        filter: blur(0px);
    }
}